<footer [ngClass]="showFooterDialog ? 'd-block' : 'd-none'" class="progress-dialog">
    <button class="accordion btn btn-primary d-flex ms-auto me-3 mb-1 align-items-center">
        <i class="mdi fs-5" [ngClass]="toogleIcon ? 'mdi-menu-down' : 'mdi-menu-up'"></i>
    </button>
    <div class="panel" @flyInOut>
        <div class="row ms-0 me-0" style="height: 95px">
            <div class="col-md-1 bg-primary d-flex justify-content-center align-items-center">
                <i class="mdi mdi-rocket w-75 text-white text-center" style="font-size: 60px"></i>
            </div>
            <div class="col-md-11 py-2">
                <div class="d-flex justify-content-between">
                    <span class="fw-semibold">
                        Migrating Data to Selected Environment
                    </span>
                    <span class="fw-semibold me-3"> {{ count }}% </span>
                </div>
                <br />
                <div class="container-fluid">
                    <div class="progress" style="height: 10px" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100">
                        <div class="progress-bar" [ngStyle]="{ width: count + '%' }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>